MONGO_URI=
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=
PORT=3001

# --- SEO Verification ---
# Get from: https://search.google.com/search-console
VITE_GOOGLE_SITE_VERIFICATION=AKxpS3M2oi_lY_l1hPBLIW2BUdr4oZUiXUvscnGHJcc

# Get from: https://www.bing.com/webmasters
VITE_BING_SITE_VERIFICATION=223614A69ED543C47D2A1339D6B8D92F
